<footer>
    <article class="footer_overlay">
        <img src="assets/images/logo.png" alt="">

        <section>
            <h6>LOCATION</h6>
            <p>PO Box 16122 Collins Street west Victoria 8007</p>
        </section>

        <section>
            <h6>OPENING HOURS</h6>
            <P>MON-FRI 9AM TO 10PM</P>
        </section>
        
        <section>
            <h6>LOCATION</h6>
            <P>MON-FRI 2PM TO 06PM</P>
        </section>

        <h6>RECENT POSTS</h6>

        <figure>
            <img src="assets/images/content-img/recent_post1.jpg" alt="">
            <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, aliquid!</figcaption>
        </figure>

        <figure>
            <img src="assets/images/content-img/recent_post2.jpg" alt="">
            <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, aliquid!</figcaption>
        </figure>

        <h6>RECENT POSTS</h6>

        <section class="twitter">
            <i class="fab fa-twitter"></i>
            <p>
                It is a long established fact that a reader will be distracted by the readable.
                <br>
                <span class="hours">5 hours Ago</span>
            </p>
        </section>
        <section class="twitter">
            <i class="fab fa-twitter"></i>
            <p>
                It is a long established fact that a reader will be distracted by the readable.
                <br>
                <span class="hours">5 hours Ago</span>
            </p>
        </section>

        <section class="info">
            <p>Stay Connected WIth Us Night Club</p>
            <section class="icons">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fas fa-envelope-square"></i>
                <i class="fab fa-skype"></i>
                <i class="fab fa-bootstrap"></i>
            </section>
            <p>copyRight @ 2018 Nightclub psd template all right</p>
        </section>
    </article>
</footer>