<footer>
    <article class="footer_overlay">
        <img src="assets/images/logo.png" alt="">
        <h6>LOCATION</h6>
        <p>PO Box 16122 Collins Street west Victoria 8007</p>

        <h6>OPENING HOURS</h6>
        <P>MON-FRI 9AM TO 10PM</P>
        
        <h6>LOCATION</h6>
        <P>MON-FRI 2PM TO 06PM</P>

        <h6>RECENT POSTS</h6>

        <figure>
            <img src="" alt="">
            <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, aliquid!</figcaption>
        </figure>

        <figure>
            <img src="" alt="">
            <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, aliquid!</figcaption>
        </figure>

        <h6>RECENT POSTS</h6>
        <section class="twitter1">

        </section>
        <section class="twitter2">
            
        </section>

        <section class="info">
            <p>Stay Connected WIth Us Night Club</p>

            <p>copyRight @ 2018 Nightclub psd template all right</p>
        </section>




    </article>
</footer>