<header class="home_header">

        <img src="assets/images/Logo.png" alt="" class="header_logoimg">
        <img src="assets/images/bottom_line.png" alt="" class="header_bottomimg-desktop">
        <div class="topnav">
            <a href="#index" class="active">
                <img src="assets/images/Logo.png" alt="" class="">
            </a>
            <div id="myLinks">
              <a href="#">HOME</a>
              <a href="#">ABOUT US</a>
              <a href="#">BLOG </a>
              <a href="#">EVENTS</a>
              <a href="#">GALLERY</a>
              <a href="#">BOOK TABLE</a>
              <a href="#">CONTACT US </a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
</header> 