<header class="home_header">

        <img src="assets/images/Logo.png" alt="" class="header_img">
        <div class="topnav">
            <a href="#index" class="active">
                <img src="assets/images/Logo.png" alt="" class="">
            </a>
            <div id="myLinks">
              <a href="#news">News</a>
              <a href="#contact">Contact</a>
              <a href="#about">About</a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
</header> 