<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<main>
    <section class="home_section home_section-1">
    
    </section>

    <section class="home_section home_section-2">
    
    </section>
    <section class="home_section home_section-3">
    
    </section>
    <section class="home_section home_section-4">
    
    </section>
    <section class="home_section home_section-5">
    
    </section>
    <section class="home_section home_section-6">
    
    </section>
</main>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>