<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<main>
    <section class="home_section home_section-1">
        <header>
            <h1>WELCOME IN <br>NIGHT<span class="section1_header">CLUB</span></psan></h1>
            <img src="assets/images/bottom_line.png" alt="">
          </header>
          <figure class="home_figure-1">
            <img src="assets/images/content-img/thumb1.jpg" alt="" class="home_space">
            <img src="assets/images/content-img/reastaurant_1.jpg" alt="" class="home_space">
            <img src="assets/images/content-img/thumb2.jpg" alt="" class="home_space">
          </figure>
    </section>

    <section class="home_section home_section-2">
        <header>
            <h1>EVENTS OF THE <br> MONTH</h1>
            <img src="assets/images/bottom_line.png" alt="">
          </header>
          <figure class="figure_event">
    
        </figure>
        <section class="event_details">
           
        </section>
          <section class="events">
          <div class="event" id="1"></div>
          <div class="event" id="2"></div>
          <div class="event" id="3"></div>
          <div class="event" id="4"></div>
          <div class="event" id="5"></div>
          <div class="event" id="6"></div>
          </section>
    </section>
    <section class="home_section home_section-3">
        <header>
            <h1>NIGHTCLUB GALLERY</h1>
            <img src="assets/images/bottom_line.png" alt="">
          </header>
          <figure class="home_figure">

          </figure>
    </section>
    <section class="home_section home_section-4">
     <header>
  <h1>NIGHT CLUB TRACK</h1>
  <img src="assets/images/bottom_line.png" alt="">
</header>
<figure>
  <img src="assets/images/content-img/track_thumb.jpg" alt="">
  <audio controls src="/assets/images/Ude Af Kontrol - 3xK [Bass Boosted].mp3" type="audio/mp3"></audio>
</figure>
    </section>
    <section class="home_section home_section-5">
        <header>
            <h1>LATEST VIDEO</h1>
            <img src="assets/images/bottom_line.png" alt="">
          </header>
          <figure>
            <img src="assets/images/content-img/video_poster.jpg" alt="">
          </figure>
    </section>
    <section class="home_section home_section-6">
    
    </section>
</main>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>