<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<main>
    <section class="home_section home_section-1">
    
    </section>

    <section class="home_section home_section-2">
    
    </section>
    <section class="home_section home_section-3">
    
    </section>
</main>
<img src="" alt="" class="src">
<img src="" alt="" class="src1">
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>