* {
    font-family: 'Ubuntu', sans-serif; 
      margin: 0;
      padding: 0;
    }
    .contact_header{
        padding-top: 50%;
        font-size: 30px;
    }
    .contact_nav{
        background-color: #030203;
        opacity: 0.8;
        color: #e0e0e0;
        text-align: center;
        height: 31em;
    }
  .home_header{
    height: 31em;
    background-image: url("./../images/bg/footerbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.header_logoimg{
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
}
.header_bottomimg-desktop{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 25%;
}
.home_space{
  padding-bottom: 2em;
}
@media screen and (min-width: 1000px){
  .header_bottomimg-desktop{
    width: 50%;
    position: absolute;
    top: 65%;
    left: 25%;
  }
}
  /*BURGER MENU*/
  
  .topnav {
    overflow: hidden;
    background-color: #030203;
    position: sticky;
    opacity: 0.7;
    border-style: solid;
    border-bottom-color: #ff2a70;
    border-top-color: #ff2a70;
  }

  .topnav #myLinks {
    display: none;
    font-size: 10px;
    padding: 0;
  }
  .topnav a {
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 2.5em;
    display: block;
  }
  
  
  .topnav a.icon {
    background: 030203;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #030203;
    color: white;
  }
  
  .active {
    background-color: #030203;
    color: white;
  }
  .box{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: #ff2a70
    transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
  }
  .box2{
    width: 0;
height: 0;
border-style: solid;
border-width: 0 0 50px 50px;
border-color: transparent transparent #ff2a70 transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .menu_logo{
    padding-left: 15px;
  }
  @media screen and (min-width: 1000px){
    .topnav {
      overflow: hidden;
      background-color: #030203;
      position: sticky;
      top: 90vh;
      opacity: 0.8;
      display: flex;
      justify-content: space-around;
      text-align: center;
    }
  
    .topnav #myLinks {
      display: block;
      display: flex;
      font-size: 6px;
      padding-top: 5px;
    }
    
    .topnav a.icon {
      visibility: hidden;
    }
    
    .topnav a:hover {
      text-decoration: underline;
      color: #ff2a70;
      text-decoration-color: #ff2a70;
      background-color: #030203;
    }
    .topnav a {
      color: white;
      text-decoration: none;
      display: block;
      padding-bottom: 0;
    }
  }
  .contact_main{
    height: 100%;
    background-image: url("./../images/patern/dark-wood.jpg");
    background-repeat: repeat;
    background-position: center;
    padding: 20px;
  }
  .contact_information{
    position: relative;
    padding: 20px;
    padding-bottom: 5em;
    padding-top: 4.5em;
    margin-top: 5em;
    margin-bottom: 5em;
      background-color: #ff2a70;
      color: #e0e0e0;
  }

  .information_section{
    border-bottom: solid 2px #e0e0e0;
      display: flex;
      padding: 10px;
  }
  .fas{
    padding-right: 1em;
  }
  .infobox{
    position: absolute;
    bottom: -1.5em;
    right: 41%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 0 25px;
    border-color: #ff2a70 transparent transparent transparent;
  }