footer{
    height: 31em;
    background-image: url("./../images/bg/footerbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.footer_overlay{
    background-color: #030203;
    opacity: 0.8;
    color: #e0e0e0;
    padding-top: 1em;
    padding-left: 2em;
}
footer p{
    font-size: 12px;
}
footer h6{
    color: #ff2a70;
}
footer article section{
    padding-top: 10px;
}
.hours{
    color: #ff2a70;
    font-size: 12px;
}
.twitter{
    display: flex;
}
.fab{
    color: #ff2a70;
}
footer article figure{
    display: flex;
}
