.home_section{
    background-color: #030203;
    color: #e0e0e0;
    text-align: center;
    padding-top: 3em;
}
.home_section img{
    width: 100%;
}
.section1_header{
    color: #ff2a70;
}
@media screen and (min-width: 1000px){
    .home_figure-1{
        display: flex;
    }
    .home_figure-3{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}